# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
.venv/

# Environment Variables & Kredensial Rahasia (SANGAT PENTING: Ditolak dari Git agar tidak ke-push ke GitHub)
.env
.env.*
credentials/
credentials/*
*.key
*.pem

# Databases & Data Files
# Mengabaikan file DuckDB karena ukurannya bisa sangat besar dan merupakan hasil generate lokal
*.duckdb
*.duckdb.wal
data/processed/*.duckdb
data/*

# Logs
logs/
*.log

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Frontend
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
